.ChordButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.ChordButton {
  width: calc(100% / 6);
  border: 0;
  border-radius: 0;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  color: black;
  outline: none;
  font-family: monospace;
  border-radius: 0.5rem;
  line-height: 1rem;
}

@media only screen and (max-width: 1024px) {
  .ChordButton {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 480px) {
  .ChordButton {
    width: 100%;
  }
}


.ChordButton__name {
  font-weight: 500;
}

.ChordButtonShortcut {
  font-weight: 200;
  font-size: 0.7rem;
  color: gray;
}

.ChordButtonShortcut__keys > *:not(:last-child)::after {
  content: ' + ';
  display: inline-block;
  margin: 0 0.25rem;
  color: lightgray;
}

.ChordButton:hover {
  background-color: rgb(180, 255, 255);
}

.ChordButton[data-playing="true"] {
  animation-name: playing;
  animation-duration: 350ms;
  animation-iteration-count: 1;
}

@keyframes playing {
  from {
    background-color: rgb(83, 216, 216);
  }
  to {
    color: auto;
  }
}
